* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    padding-top: 15px;
}

.post {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
}

.post__content {
    flex-grow: 1;
}

.post__content strong {
    display: block;
    margin-bottom: 6px;
}