* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
}

.post__content {
    flex-grow: 1;
}

.post__content strong {
    display: block;
    margin-bottom: 6px;
}

.enter {
    transform: translateX(-100%);
}

.enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.exit {
    opacity: 1;
}

.exit-active {
    transform: translateX(-100%);
    transition: all 500ms ease-in;
}

.pagination {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    padding: 6px 10px;
    width: calc(10% - 9px);
    min-width: 50px;
    border: 1px solid green;
    display: inline-block;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn.active,
.btn:hover {
    background: green;
    color: #fff;
}